@font-face {
  font-family: bnp-rounded-bold;
  src: url(assets/Fonts/bnpp-rounded/bnpp-rounded-bold-v2.ttf);
}

@font-face {
  font-family: bnp-rounded-extrabold;
  src: url(assets/Fonts/bnpp-rounded/bnpp-rounded-extrabold-v2.ttf);
}

@font-face {
  font-family: bnp-rounded-light;
  src: url(assets/Fonts/bnpp-rounded/bnpp-rounded-light-v2.ttf);
}

@font-face {
  font-family: bnp-rounded;
  src: url(assets/Fonts/bnpp-rounded/bnpp-rounded-v2.ttf);
}

@font-face {
  font-family: bnp-sans-bold;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-bold.ttf);
}

@font-face {
  font-family: bnp-sans-bold-italic;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-bold-italic.ttf);
}

@font-face {
  font-family: bnp-sans-extrabold-italic;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-extrabold-italic.ttf);
}

@font-face {
  font-family: bnp-sans-extrabold;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-extrabold.ttf);
}

@font-face {
  font-family: bnp-sans-italic;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-italic.ttf);
}

@font-face {
  font-family: bnp-sans-light-italic;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-italic.ttf);
}

@font-face {
  font-family: bnp-sans-light;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans-light.ttf);
}

@font-face {
  font-family: bnp-sans;
  src: url(assets/Fonts/bnpp-sans/bnpp-sans.ttf);
}

@font-face {
  font-family: bnp-sans-cond-bold;
  src: url(assets/Fonts/bnpp-sans-condensed/bnpp-sans-cond-bold-v2.ttf);
}

@font-face {
  font-family: bnp-sans-cond-extrabold;
  src: url(assets/Fonts/bnpp-sans-condensed/bnpp-sans-cond-extrabold-v2.ttf);
}

@font-face {
  font-family: bnp-sans-cond-light;
  src: url(assets/Fonts/bnpp-sans-condensed/bnpp-sans-cond-light-v2.ttf);
}

@font-face {
  font-family: bnp-sans-cond;
  src: url(assets/Fonts/bnpp-sans-condensed/bnpp-sans-cond-v2.ttf);
}

@font-face {
  font-family: bnp-serif-bold;
  src: url(assets/Fonts/bnpp-serif/bnpp-serif-bold-v2.ttf);
}

@font-face {
  font-family: bnp-serif-extrabold;
  src: url(assets/Fonts/bnpp-serif/bnpp-serif-extrabold-v2.ttf);
}

@font-face {
  font-family: bnp-serif-light;
  src: url(assets/Fonts/bnpp-serif/bnpp-serif-light-v2.ttf);
}

@font-face {
  font-family: bnp-serif-regular;
  src: url(assets/Fonts/bnpp-serif/bnpp-serif-regular-v2.ttf);
}

@font-face {
  font-family: bnp-slabexpanded-light;
  src: url(assets/Fonts/bnpp-slab-expanded/bnpp-slabexpanded-light-v2.ttf);
}

@font-face {
  font-family: bnp-slabexpanded-regular;
  src: url(assets/Fonts/bnpp-slab-expanded/bnpp-slabexpanded-regular-v2.ttf);
}

@font-face {
  font-family: bnp-slabexpanded-bold;
  src: url(assets/Fonts/bnpp-slab-expanded/bnpp-slabexpended-bold-v2.ttf);
}

@font-face {
  font-family: bnp-slabexpanded-extrabold;
  src: url(assets/Fonts/bnpp-slab-expanded/bnpp-slabexpended-extrabold-v2.ttf);
}

@font-face {
  font-family: bnp-slabserif-bold;
  src: url(assets/Fonts/bnpp-slab-serif/bnpp-slabserif-bold-v2.ttf);
}

@font-face {
  font-family: bnp-slabserif-extrabold;
  src: url(assets/Fonts/bnpp-slab-serif/bnpp-slabserif-extrabold-v2.ttf);
}

@font-face {
  font-family: bnp-slabserif-light;
  src: url(assets/Fonts/bnpp-slab-serif/bnpp-slabserif-light-v2.ttf);
}

@font-face {
  font-family: bnp-slabserif-regular;
  src: url(assets/Fonts/bnpp-slab-serif/bnpp-slabserif-regular-v2.ttf);
}

@font-face {
  font-family: bnp-square-bold;
  src: url(assets/Fonts/bnpp-square/bnpp-square-bold-v3.ttf);
}

@font-face {
  font-family: bnp-square-extrabold;
  src: url(assets/Fonts/bnpp-square/bnpp-square-extrabold-v3.ttf);
}

@font-face {
  font-family: bnp-square-light;
  src: url(assets/Fonts/bnpp-square/bnpp-square-light-v3.ttf);
}

@font-face {
  font-family: bnp-square-regular;
  src: url(assets/Fonts/bnpp-square/bnpp-square-regular-v3.ttf);
}

@font-face {
  font-family: bnp-type-bold;
  src: url(assets/Fonts/bnpp-type/bnpp-type-bold-v2.ttf);
}

@font-face {
  font-family: bnp-type-regular;
  src: url(assets/Fonts/bnpp-type/bnpp-type-regular-v2.ttf);
}
