@import '~@angular/material/theming';

@include mat-core();

// custom background and foreground palettes
$bardock-theme-background2: (
  status-bar: green,
  app-bar: map_get($mat-blue, 900),
  background: orange,
  hover: rgba(white, 0.04),
  card: map_get($mat-red, 800),
  dialog: map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$bardock-theme-background: (
  // status-bar:                   map_get($mat-grey, 300),
  status-bar:aliceBlue,
  // app-bar:                      map_get($mat-grey, 100),
  app-bar: grey,
  background:                   map_get($mat-grey, 50),
  // background: orange,
  // hover:                        rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  hover: rgba(black, 0.04),

  card: yellow,
  // dialog:                     white,
  dialog: pink,
  // disabled-button:              rgba(black, 0.12),
  disabled-button: gold,
  raised-button:              white,
  focused-button:             black,
  selected-button:              lime,
  selected-disabled-button:     lime,
  disabled-button-toggle:       lime,
  unselected-chip:              lime,
  disabled-list-option:         lime,
);

$bardock-theme-foreground2: (
  base:           yellow,
  divider:          $white-12-opacity,
  dividers:         $white-12-opacity,
  disabled:         rgba(white, 0.3),
  disabled-button:  rgba(white, 0.3),
  disabled-text:    rgba(white, 0.3),
  hint-text:        rgba(white, 0.3),
  secondary-text:   rgba(white, 0.7),
  icon:           white,
  icons:          white,
  text:           white,
  slider-min:     white,
  slider-off:       rgba(white, 0.3),
  slider-off-active:rgba(white, 0.3),
);

// Foreground palette for light themes.
$bardock-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:        BlueViolet,
  disabled:          lime,
  disabled-button:   red,
  disabled-text:     yellow,
  hint-text:         brown,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(black, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$my-primary: (50: #e8f5e9,
100: #c8e6c9,
200: #a5d6a7,
300: #81c784,
400: #66bb6a,
500 :#00915A,
600: #43a047,
700: #388e3c,
800: #2e7d32,
900: #1b5e20,
A100: #b9f6ca,
A200: #69f0ae,
A400: #00e676,
A700: #00c853,
contrast: (50: $dark-primary-text,
100: $dark-primary-text,
200: $dark-primary-text,
300: $dark-primary-text,
400: $dark-primary-text,
500: $dark-primary-text,
600: $light-primary-text,
700: $light-primary-text,
800: $light-primary-text,
900: $light-primary-text,
A100: $dark-primary-text,
A200: $dark-primary-text,
A400: $dark-primary-text,
A700: $dark-primary-text,
));

$my-accent: (50 : #f9ece4,
100 : #efcebc,
200 : #e5ae8f,
300 : #da8e62,
400 : #d27540,
500 : #E9721C,
600 : #c5551a,
700 : #bd4b16,
800 : #b74112,
900 : #ab300a,
A100 : #ffdfd7,
A200 : #ffb5a4,
A400 : #ff8c71,
A700 : #ff7858,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $bardock-theme-foreground,
    background: $bardock-theme-background,
    );
}


// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($my-primary);
$custom-theme-accent: mat-palette($my-accent);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: create-wonky-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
