<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1 i18n>
        Welcome to {{ title }}!
    </h1>
    <img width="300" i18m-alt i18m-title title="Imagen" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2 i18n>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2 i18n><i class="fa" [ngClass]="{'fa-check success': variable1, 'fa-times danger': !variable1}" (click)="variable1=!variable1"></i> <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2 i18n><i class="fa" [ngClass]="{'fa-check success': variable2, 'fa-times danger': !variable2}" (click)="variable2=!variable2"></i><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
        <h2 i18n><i class="fa" [ngClass]="{'fa-check success': variable3, 'fa-times danger': !variable3}" (click)="variable3=!variable3"></i><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
    <li>
        <h2 i18n><i class="fa" [ngClass]="{'fa-check success': variable4, 'fa-times danger': !variable4}" (click)="variable4=!variable4"></i>
            <a [routerLink]="['/theme']">Theme</a></h2>
    </li>
</ul>